<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="patient_management_system.dao.AppointmentMapper">

    <resultMap id="AppointmentDTOMap" type="patient_management_system.dto.AppointmentDTO">
        <id column="id" property="id"/>
        <result column="doctor_id" property="doctorId"/>
        <result column="patient_id" property="patientId"/>
        <result column="doctor" property="doctor"/>
        <result column="patient" property="patient"/>
        <result column="date" property="date"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="status" property="status"/>
        <result column="remarks" property="remarks"/>
        <result column="appointment_charge_id" property="appointmentChargeId"/>
        <result column="created_at" property="createdAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>

    <resultMap id="AppointmentResultMap" type="patient_management_system.models.Appointment">
        <id column="id" property="id"/>
        <result column="doctor_id" property="doctorId"/>
        <result column="patient_id" property="patientId"/>
        <result column="appointment_charge_id" property="appointmentChargeId"/>
        <result column="date" property="date"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="status" property="status"/>
        <result column="remarks" property="remarks"/>
        <result column="created_at" property="createdAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>

    <select id="findAll" resultMap="AppointmentDTOMap">
        SELECT
        a.remarks, a.status, a.date, a.start_time, a.end_time,
        p.name AS patient, u.name AS doctor,
        a.created_at, a.created_by, a.updated_at, a.updated_by,
        a.patient_id, a.doctor_id, a.id,a.appointment_charge_id
        FROM appointments_tbl a
        JOIN users_tbl u ON u.id = a.doctor_id
        JOIN patients_tbl p ON p.id = a.patient_id
        <where>
            <choose>
                <when test="search != null and search != ''">
                    (
                    LOWER(p.name) LIKE CONCAT('%', LOWER(#{search}), '%')
                    OR LOWER(u.name) LIKE CONCAT('%', LOWER(#{search}), '%')
                    OR CAST(a.created_at AS CHAR) LIKE CONCAT('%', LOWER(#{search}), '%')
                    OR LOWER(a.status) LIKE CONCAT('%', LOWER(#{search}), '%')
                    )
                </when>

                <when test="startTime !=null and endTime !=null">
                    (
                    a.start_time BETWEEN #{startTime} AND #{endTime}
                    OR a.end_time BETWEEN #{startTime} AND #{endTime}
                    OR #{startTime} BETWEEN a.start_time AND a.end_time
                    OR #{endTime} BETWEEN a.start_time AND a.end_time
                    )
                </when>

                <when test="startTime !=null">
                    a.start_time = #{startTime}
                </when>

                <when test="endTime !=null">
                    a.end_time = #{endTime}
                </when>

                <otherwise>
                    a.id IS NOT NULL
                </otherwise>
            </choose>
        </where>
        ORDER BY a.created_at DESC
        <if test="limit !=null and offset !=null">
            LIMIT #{limit } OFFSET #{offset}
        </if>
    </select>


    <select id="fetchAppointmentById" resultMap="AppointmentDTOMap" parameterType="string">
        SELECT a.remarks,a.status,a.date,a.start_time,a.end_time,
        p.name AS patient,u.name AS doctor,a.created_at,a.created_by,
        a.updated_at,a.updated_by,a.patient_id,a.doctor_id,a.id,
        a.appointment_charge_id FROM appointments_tbl a
        JOIN users_tbl u ON u.id=a.doctor_id
        JOIN patients_tbl p ON p.id=a.patient_id
        WHERE a.id=#{id}
    </select>

    <select id="findById" resultMap="AppointmentResultMap" parameterType="string">
        SELECT * FROM appointments_tbl WHERE id=#{id}
    </select>

    <insert id="addAppointment">
        INSERT INTO
            appointments_tbl(id,doctor_id,patient_id,date,start_time,
            end_time,status,remarks,created_at,created_by)
        VALUES(#{id},#{doctorId},#{patientId},#{date},#{startTime},#{endTime},
               #{status},#{remarks},#{createdAt},#{createdBy})
    </insert>

    <update id="updateById">
        UPDATE appointments_tbl
        SET doctor_id=#{doctorId},patient_id=#{patientId},date=#{date},
        start_time=#{startTime},end_time=#{endTime},remarks=#{remarks},status=#{status},
        updated_at=#{updatedAt},updated_by=#{updatedBy}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="string">
        DELETE FROM appointments_tbl WHERE id = #{id}
    </delete>

    <select id="countAppointmentsByDate" resultType="int">
        SELECT COUNT(*) FROM appointments_tbl
        WHERE date=#{date} AND doctor_id=#{doctorId}
    </select>

    <select id="checkOverLapping" resultType="int">
        SELECT COUNT(*) FROM appointments_tbl
        WHERE date = #{date} AND (doctor_id=#{doctorId})
          AND (
            (#{startTime} BETWEEN start_time AND end_time)
           OR (#{endTime} BETWEEN start_time AND end_time)
           OR (start_time BETWEEN #{startTime} AND #{endTime})
           OR (end_time BETWEEN #{startTime} AND #{endTime})
            )
        <if test="appointmentId !=null and !appointmentId.isEmpty()">
            AND id != #{appointmentId}
        </if>
    </select>

    <select id="countAllAppointments" resultType="int">
        SELECT COUNT(*) FROM appointments_tbl
    </select>

    <select id="fetchAppointmentsForDoctor" resultMap="AppointmentDTOMap">
        SELECT a.remarks,a.status,a.date,a.start_time,a.end_time,
        p.name AS patient,u.name AS doctor,a.created_at,a.created_by,
        a.updated_at,a.updated_by,a.patient_id,a.doctor_id,a.id,
        a.appointment_charge_id FROM appointments_tbl a
        JOIN users_tbl u ON u.id=a.doctor_id
        JOIN patients_tbl p ON p.id=a.patient_id
        <where>
        a.doctor_id=#{doctorId}
            <choose>
                <when test="search != null and search != ''">
                    AND (
                    LOWER(p.name) LIKE CONCAT('%', LOWER(#{search}), '%')
                    OR LOWER(u.name) LIKE CONCAT('%', LOWER(#{search}), '%')
                    OR CAST(a.created_at AS CHAR) LIKE CONCAT('%', LOWER(#{search}), '%')
                    OR LOWER(a.status) LIKE CONCAT('%', LOWER(#{search}), '%')
                    )
                </when>

                <when test="startTime !=null and endTime !=null">
                    AND (
                    a.start_time BETWEEN #{startTime} AND #{endTime}
                    OR a.end_time BETWEEN #{startTime} AND #{endTime}
                    OR #{startTime} BETWEEN a.start_time AND a.end_time
                    OR #{endTime} BETWEEN a.start_time AND a.end_time
                    )
                </when>

                <when test="startTime !=null">
                   AND a.start_time = #{startTime}
                </when>

                <when test="endTime !=null">
                    AND a.end_time = #{endTime}
                </when>

                <otherwise>
                    AND a.id IS NOT NULL
                </otherwise>
            </choose>
        </where>
        ORDER BY a.created_at DESC
        <if test="limit !=null and offset !=null">
            LIMIT #{limit } OFFSET #{offset}
        </if>
    </select>

</mapper>