<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="patient_management_system.dao.PatientMapper">

    <resultMap id="PatientResultMap" type="patient_management_system.models.Patient">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="address" property="address"/>
        <result column="dob" property="dob"/>
        <result column="medical_history" property="medicalHistory"/>
        <result column="gender" property="gender"/>
        <result column="created_at" property="createdAt"/>
        <result column="created_by" property="createdBy"/>
    </resultMap>

    <select id="findAll" resultMap="PatientResultMap">
        SELECT * FROM patients_tbl
    </select>

    <select id="findById" resultMap="PatientResultMap" parameterType="string">
        SELECT * FROM patients_tbl WHERE id = #{id}
    </select>

    <select id="findByEmail" resultMap="PatientResultMap" parameterType="string">
        SELECT * FROM patients_tbl WHERE email = #{email}
    </select>

    <insert id="addPatient">
        INSERT INTO patients_tbl(id,name,email,address,medical_history,
                                 gender,phone,dob,created_at,created_by)
        VALUES(#{id},#{name},#{email},#{address},#{medicalHistory},
               #{gender},#{phone},#{dob},#{createdAt},#{createdBy})
    </insert>

    <update id="updateById">
        UPDATE patients_tbl
        SET name=#{name}, email=#{email}, address=#{address}, gender=#{gender},
        phone=#{phone}, medical_history=#{medicalHistory}, dob=#{dob},
        updated_at=#{updatedAt},updated_by=#{updatedBy}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="string">
        DELETE FROM patients_tbl WHERE id = #{id}
    </delete>

    <select id="countAllPatients" resultType="int">
        SELECT COUNT(*) FROM patients_tbl
    </select>

</mapper>