.container{
  color: white;
  display: flex;
}

.titleLogo{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 12%;
  margin-left: 5%;
}

.titleText{
  font-size: 25px;
  font-weight: 800;
}

.subTitleContainer{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  gap: 5px;
}

.subTitleContainer h1{
  font-size: 25px;
  font-weight: 800;
}

.subTitleContainer p{
  font-size: 13.5px;
}

.logoImg{
  width: 40px;
  border-radius: 50px;
}

.formContainer{
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: black;
  height: 100vh;
  width: 50%;
}

.inputItem{
  width: 60%;
  position: relative;
  margin-left: 5%;
  margin-top: 2%;
}

.inputItem input{
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  display: flex;
  align-items: center;
  background-color: white;
  gap:10px;
  outline: none;
}

.inputItem input::placeholder{
  padding-left: 30px;
}

.inputUserIcon{
  color:black;
  position: absolute;
  left: 10px; 
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.inputEmailIcon{
  color:black;
  position: absolute;
  left: 10px; 
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.inputPasswordIcon{
  color:black;
  position: absolute;
  left: 10px; 
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.inputItem input:focus{
  border: 1.5px solid slateblue;
}

.inputBtn{
  background-color: green;
  width: 60%;
  padding: 10px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  border-radius: 3px;
}

.imageContainer{
  width: 50%;
}

.imageContainer img{
  height: 100%;
}
