.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 5%;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input {
  padding: 8px;
  width: 300px;
  outline: none;
  border: 1px solid black;
  margin: 10px;
  border-radius: 3px;
}

.button {
  padding: 8px;
  width: 300px;
  background-color: teal;
  outline: none;
  /* border: 1px solid black; */
  margin: 10px;
  border-radius: 3px;
  color: white;
  border: none;
  cursor: pointer;
}

.tableContainer {
  border: 1px solid gray;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tableContainer thead tr {
  display: flex;
  gap: 150px;
  border-bottom: 1px solid gray;
  width: 500px;
  align-items: center;
  justify-content: center;
}

.tableContainer tbody tr {
  display: flex;
  /* gap: 100px; */
  border-bottom: 1px solid gray;
  width: 500px;
  align-items: center;
  justify-content: center;
}

.tableContainer tbody tr td {
  width: 300px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-right: 1px solid gray;
  line-height: 20px;
}
